<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/error.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4ff99e7c8c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="error-container">
        <div class="error-title">Error</div>
        <div class="error-message">Why try and break me?</div>
        <a class="button" href="/"><i class="fas fa-home"></i><span>Home</span></a>
        <div class="gif-container">
            <img src="https://media.giphy.com/media/wjcXC7XtyLi8HSH3qg/giphy.gif" alt="Error GIF">
        </div>
    </div>
</body>

</html>
