<!DOCTYPE html>
<html>
<head>
    <title>Forum SPA</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/4ff99e7c8c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="navbar">
        <!-- Navbar content -->
    </div>
    <br>
    <div id="allContent">
        <div id="content">
            <div id="posts-container">
                <!-- Posts will be dynamically loaded here -->
            </div>
        </div>
        <div id="user-list-container">
            <!-- Content will be dynamically loaded here -->
        </div>
    </div>

    <script type="module" src="/js/script.js"></script>
    <script src="/js/ajaxlikes.js"></script>
<script src="/js/filter.js"></script>
<script src="/js/commentlikes.js"></script>

<script></script>
</body>
</html>
